{{ attach_library('lazy_block/placeholder_renderer') }}
<span style="display:none;" data-lazy-block-placeholder-id="{{ elements['#id'] }}"></span>
{# Somewhere in Drupal 10.3.x, output from this template started getting
cached, then being served in the AJAX request (instead of the final markup).
Force uncacheable output here to prevent that.
*TODO*: use explicit cacheability signalling, e.g. implementing a
route.defaults:_lazy_block_placeholder_renderer cache context and setting it on
the block renderable via hook_entity_build_defaults_alter(), then 'render' that
cacheability metadata here. #}
{{ {
  '#cache': {'max-age': 0}
} }}